Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
ds = pd.Series([4,8,15,16,23,42])
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
vars = [23,'name','value',1.3,1,2,3,4,True,False]

df1 = pd.Series([vars])

print(df1)

0    [23, name, value, 1.3, 1, 2, 3, 4, True, False]
dtype: object

Q3. Create a Pandas DataFrame that contains the following data: and print the dataframe.

In [8]:
data = {
    'Name': ['Alice','Bob','Claire'],
    'Age': [25,30,27],
    'Gender': ['False','Male','Female']
}

df2 = pd.DataFrame(data)

print(df2)

     Name  Age  Gender
0   Alice   25   False
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'DataFrame'in Pandas and how is it different from pandas.series?Explain with an example.

Ans--

A **Pandas DataFrame** is a two-dimensional table of data with rows and columns.It's like a spreadsheet or SQL table, or a dictonary of series objects.

`Example-`

In [15]:
import pandas as pd

df3 = pd.DataFrame({
    'A': pd.Timestamp('2023'),
    'B': pd.Series(1,index=list(range(4)),dtype='float32'),
    'C': pd.array([3]*4,dtype='int32')
})

print(df3)

           A    B  C
0 2023-01-01  1.0  3
1 2023-01-01  1.0  3
2 2023-01-01  1.0  3
3 2023-01-01  1.0  3

A **Pandas Series** is like a column in a table. It is one-dimensional array holding data of any type.

`Example-`

In [17]:
s = pd.Series([1,3,4,"nan",6,7])

print(s)

0      1
1      3
2      4
3    nan
4      6
5      7
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans--

Pandas is a powerful Python library for data manipulation and analysis. 

Some common functions we can use to manipulate data in a Pandas DataFrame:

1. **`head()` and `tail()`**: These functions return the first and last 'n' rows of the DataFrame respectively. This is useful when you want to quickly inspect your data without loading the entire dataset.

2. **`describe()`**: This function provides a statistical summary of the DataFrame - like mean, median, and standard deviation. This is useful for getting a quick overview of the dataset's distribution.

3. **`drop()`**: This function is used to drop specified labels from rows or columns. This is useful when you want to remove unnecessary data.

4. **`rename()`**: This function allows you to rename column names or index names. This is useful when you want to make your column names more readable.

5. **`sort_values()`**: This function sorts a DataFrame along either axis. This is useful when you want to organize your data for better understanding or visualization.

6. **`groupby()`**: This function is used to split the data into groups based on some criteria. This is useful when you want to segment your data and perform analysis on these segments.

`Example-`

In [2]:
import pandas as pd

df = pd.DataFrame({'Age': [25, 30, 35, 40, 45]})

summary = df['Age'].describe()

print(summary)

count     5.000000
mean     35.000000
std       7.905694
min      25.000000
25%      30.000000
50%      35.000000
75%      40.000000
max      45.000000
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans--

1. **Series**: A Series is a one-dimensional array with homogeneous data. The size of a Series is immutable, which means once a Series object is created, operations such as appending or deleting, which would change the size of the object, are not allowed. However, the data within a Series is mutable. This means that while you cannot change the size of a Series, you can change the data it contains.

2. **DataFrame**: A DataFrame is a two-dimensional array with heterogeneous data. Both the size and the data of a DataFrame are mutable. This means you can change both the size (i.e., number of rows or columns) and the data within a DataFrame. When you create a new DataFrame from an existing one, the data will be shared between the two by default. If you want to create a completely independent copy, you can use the `copy()` method.

3. **Panel**: A Panel is a three-dimensional data structure with heterogeneous data. Similar to a DataFrame, both the size and the data of a Panel are mutable. This means you can change both the size and the data within a Panel.

`Both DataFrame and Panel are mutable in nature, while a Series is only mutable in terms of its data, not its size.`

Q7. Create a DataFrame using multiple Series.Explain with an example.

In [1]:
import pandas as pd

# Create Series
series1 = pd.Series([1, 2, 3], name='A')
series2 = pd.Series([4, 5, 6], name='B')
series3 = pd.Series([7, 8, 9], name='C')

# Create DataFrame from multiple series
df = pd.concat([series1, series2, series3], axis=1)

print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In this example:

 `pd.Series` is used to create three Series named 'A', 'B', and 'C'. The `pd.concat` function is then used to concatenate these Series along `axis=1` (which refers to the columns; `axis=0` would refer to the rows), resulting in a DataFrame.