Q1. What is a database?Differentiate between SQL and NoSQL databases.

Ans-

#### Database-

A database is an organized collection of data stored in a computer system and usually controlled by a database management system (DBMS).The data in common databases is modeled in tables,making querying and processing efficient.

Structured query language (SQL) is commonly used for data querying and writing.

Examples--

In the bank,In school,In the railway station,In a grocery store,etc.. These are the instances where we need to store a large amount of data in one place and fetch these data easily.

#### SQL vs NoSQL-

1)	Databases are categorized as Relational Database Management System (RDBMS).

NoSQL databases are categorized as Non-relational or distributed database system.

2)	SQL databases have fixed or static or predefined schema.	

NoSQL databases have dynamic schema.

3)	SQL databases display data in form of tables so it is known as table-based database. 

NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.

4)	SQL databases are vertically scalable. 

NoSQL databases are horizontally scalable.

5)	SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.

 In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.

6)	SQL databases are best suited for complex queries.	

NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.

7)	SQL databases are not best suited for hierarchical data storage.	

NoSQL databases are best suited for hierarchical data storage.

8)	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.

MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database.

Q2.What is DDL?Explain why CREATE,DROP,ALTER,and TRUNCATE are used with an example.

Ans-

#### DDL-

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

#### DDL Commands-

1.Create
2.Alter 
3.truncate
4.drop
5.Rename

Command-1 :

CREATE :

This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

Example –

We need to create a table for storing Student information of a particular College. Create syntax would be as below.

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

----------------------------------------------------------------

Command-2 :

ALTER :

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

Syntax –

Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

Example –

In our Student_info table, we want to add a new column for CGPA. The syntax would be as below as follows.

ALTER TABLE Student_info
ADD CGPA number;

----------------------------------------------------------------

Command-3 :

TRUNCATE :

This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –

Syntax to remove an existing table.

TRUNCATE TABLE table_name;

Example –

The College Authority wants to remove the details of all students for new batches but wants to keep the table structure. The command they can use is as follows.

TRUNCATE TABLE Student_info;

----------------------------------------------------------------

Command-4 :

DROP :

This command is used to remove an existing table along with its structure from the Database.

Syntax –

Syntax to drop an existing table.

DROP TABLE table_name;

Example –

If the College Authority wants to change their Database by deleting the Student_info Table. 

DROP TABLE Student_info;

----------------------------------------------------------------

Command -5

RENAME:

It is possible to change name of table with or without data in it using simple RENAME command.

We can rename any table object at any point of time.

Syntax –

" RENAME TABLE <#Table Name> To <#New_Table_Name>; "

Note : Ignore # in Table Name and New_Table_Name.

Example:

If you want to change the name of the table from Employee to Emp we can use rename command as 

RENAME TABLE Employee To EMP;

Q3.What id DML?Explain INSERT,UPDATE,and DELETE with an example.

Ans-